<div class="row">
  <div class="col-sm-12 col-lg-12 col-xs-12">
    <div class="col-sm-12 col-lg-12 col-xs-12 text-right" style="margin-bottom:10px;">
      <a class="btn grey-cascade btn-outline"
         data-target="#modal-institution" data-toggle="modal"
         ng-click="initModal()">
          <i class="fa fa-plus-circle "></i>
          Add Institution
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-lg-12 col-xs-12">
    <table ng-table="NetworkMouInstitutionTable" class="table table-bordered table-hover">
      <thead>
          <th class="text-center bg-chula-pink-light font-white" width="50%"><b>Institution name</b></th>
          <th class="text-center bg-chula-pink-light font-white" width="5%"><b>Delete</b></th>
      </thead>
      <tbody>
        <tr ng-repeat="d in $data">
          <td class="text-left">{{d.chulaMsInstitution.institutionName}}</td>
          <td class="text-center">
            <a ng-click="doDeleteInstitution(d.chulaTrNetworkMou.networkMouId,d.chulaMsInstitution.institutionId)">
              <i class="fa fa-trash font-red"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="modal-institution" class="modal container fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
    <div class="modal-header">
        <h4>Add/Edit Institution</h4>
    </div>
    <div class="modal-body" style="padding-bottom:50px;">
        <div class="row">
          <div class="col-sm-6 col-lg-6 col-xs-12">
            <div class="form-group form-md-line-input form-md-floating-label">
              <select class="form-control" id="countryId" ng-model="countryId">
                  <option value="" selected></option>
                  <option ng-repeat="country in countries" value="{{country.countryId}}">{{ country.countryName }}</option>
              </select>
              <label for="countryId">Country</label>
            </div>
          </div>
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" id="countryName"
                         ng-model="countryName" maxlength="100" >
                  <label for="countryName">Institution name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn bg-chula-pink-light font-white"
                        ng-click="doSearchInstitution()">
                  Search
                </button>
            </div>
        </div>
        <br/>
        <table ng-table="InstitutionTable" class="table table-bordered table-hover">
            <thead>
                <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Institution name</b></th>
                <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Institution nickname</b></th>
                <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Institution Type</b></th>
                <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Country name</b></th>
                <th class="text-center bg-chula-pink-light font-white" width="5%"><b>Select</b></th>
            </thead>
            <tbody>
                <tr ng-repeat="d in $data">
                    <td class="text-left">{{d.institutionName}}</td>
                    <td class="text-left">{{d.institutionNickName}}</td>
                    <td class="text-left">{{d.institutionTypeDescription}}</td>
                    <td class="text-left">{{d.chulaMsCountry.countryName}}</td>
                    <td class="text-center">
                      <div class="form-group form-md-checkboxes ">
                        <div class="md-checkbox-list">
                          <div class="md-checkbox text-center">
                            <input type="checkbox" id="cb-{{d.institutionId}}" class="md-check"
                                   ng-class="{'ng-not-empty ng-dirty':true}"
                                   ng-model="d.selected" value="{{td.institutionId}}" >
                            <label for="cb-{{d.institutionId}}">
                                <span style="left:45px;"></span>
                                <span class="check" style="left:45px;"></span>
                                <span class="box" style="left:45px;"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </td>
                </tr>
            </tbody>
         </table>
      </div>
      <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn grey-cascade btn-outline"> Cancel </button>
          <button type="button" class="btn green-dark font-white" ng-click="doSaveInstitution()">Submit</button>
      </div>
</div>
