<div class="portlet-title tabbable-line">
  <div class="caption">
      <i class="icon-bubbles font-dark hide"></i>
      <span class="caption-subject font-dark bold uppercase">Opportunity</span>
  </div>
  <div class="actions">
    <a class="btn btn-circle btn-icon-only green-dark" ng-click="doAddInstitutionOpportunity()" can-action="P250">
        <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
<div class="portlet-body">
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-xs-12">
      <table ng-table="InstitutionOpportunityTable" class="table table-hover table-striped">
          <thead>
              <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Name</b></th>
              <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Type</b></th>
              <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Priority</b></th>
              <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Level</b></th>
              <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Faculty</b></th>
              <th class="text-center bg-chula-pink-light font-white" width="5%"><b>Edit</b></th>
          </thead>
          <tbody>
              <tr ng-repeat="d in institutionOpportunityDatas">
                  <td class="text-left">{{d.opportunityName}}</td>
                  <td class="text-center">{{d.opportunityTypeDescription }}</td>
                  <td class="text-center">{{d.opportunityPriorityDescription }}</td>
                  <td class="text-left">{{d.opportunityLevelDescription }}</td>
                  <td class="text-left">{{d.chulaMsFaculty.facultyName }}</td>
                  <td class="text-center">
                    <a ng-click="initEditInstitutionOpportunity(d.institutionOpportunityId)">
                      <i class="fa fa-edit "></i>
                    </a>
                  </td>
              </tr>
          </tbody>
       </table>
       <div class="col-sm-6 col-lg-6 col-xs-12 text-left">
         <a class="font-green-dark">
           <i class="fa fa-download"></i>
           Export to Excel
         </a>
       </div>
       <div class="col-sm-6 col-lg-6 col-xs-12 text-right">
         <a class="font-green-dark">
           View all
           <i class="fa fa-angle-double-right"></i>
         </a>
       </div>
    </div>
  </div>
</div>
