<div class="portlet light bordered" >
  <div class="portlet-title tabbable-line">
      <div class="caption">
          <i class="icon-bubbles font-dark hide"></i>
          <span class="caption-subject font-dark bold uppercase">Activity add/edit</span>
      </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="form-group form-md-line-input form-md-floating-label">
              <input type="text" class="form-control" id="topic"
                     ng-model="institutionActivityFormBean.topic" maxlength="100" 
                     ng-class="{'edited ng-touched':institutionActivityFormBean.topic.length > 0}"
                     is-view-only="P260">
              <label for="topic">Topic</label>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="form-group form-md-line-input form-md-floating-label">
                <textarea class="form-control" rows="5"
                          ng-model="institutionActivityFormBean.activity"
                          ng-class="{'edited ng-touched':institutionActivityFormBean.activity.length > 0}"
                          is-view-only="P260"></textarea>
                <label>Activity</label>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-xs-12">
            <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group right-addon">
                    <input type="text" class="form-control" data-provide="datepicker" id="startDate"
                           ng-model="institutionActivityFormBean.startDate" maxlength="10"
                           ng-class="{'edited ng-touched':institutionActivityFormBean.startDate.length > 0}"
                           data-date-format="dd/mm/yyyy"
                           is-view-only="P260">
                    <label for="institutionActivityFormBean.startDate">Start date</label>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-xs-12">
            <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group right-addon">
                    <input type="text" class="form-control" data-provide="datepicker" id="endDate"
                           ng-model="institutionActivityFormBean.endDate" maxlength="10"
                           ng-class="{'edited ng-touched':institutionActivityFormBean.endDate.length > 0}"
                           data-date-format="dd/mm/yyyy"
                           is-view-only="P260">
                    <label for="institutionActivityFormBean.endDate">End date</label>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="form-group form-md-line-input form-md-floating-label">
            <select class="form-control" ng-class="{'edited ng-touched':institutionActivityFormBean.levelOfCooperation.length > 0}"
                    id="levelOfCooperation" ng-model="institutionActivityFormBean.levelOfCooperation"
                    ng-options="key as value for (key,value) in masterLevelOfCooperations"
                    is-view-only="P260">
                <option value=""></option>
            </select>
            <label for="levelOfCooperation">Level </label>
          </div>
          <div class="form-group form-md-line-input form-md-floating-label">
            <select class="form-control" ng-class="{'edited ng-touched':institutionActivityFormBean.facultyId > 0}"
                    id="facultyId" ng-model="institutionActivityFormBean.facultyId"
                    ng-options="faculty.facultyId as faculty.facultyName for faculty in masterFaculties"
                    is-view-only="P260">
                <option value=""></option>
            </select>
            <label for="facultyId">Chula Faculty </label>
          </div>
          <div class="form-group form-md-line-input form-md-floating-label">
            <select class="form-control" ng-class="{'edited ng-touched':institutionActivityFormBean.activityType.length > 0}"
                    id="activityType" ng-model="institutionActivityFormBean.activityType"
                    ng-options="key as value for (key,value) in masterActivityTypes"
                    is-view-only="P260">
                <option value=""></option>
            </select>
            <label for="activityType">Type </label>
          </div>
          <div class="col-md-12 col-lg-12 col-xs-12">
            <label>File upload</label>
            <span>
              <a ng-click="downloadFile(activityFileName,institutionActivityFormBean.institutionActivityId)">
                {{activityFileName}}
                <i class="fa fa-download" ng-show="activityFileName.length > 0"></i>
              </a>
            </span>
            <input type="file" is-view-only="P260" ng-model="institutionActivityFormBean.fileUpload" base-sixty-four-input do-not-parse-if-oversize maxsize="5000" file-input/>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-6 col-lg-6 col-xs-12 text-left">
          <button type="button" class="btn grey-cascade btn-outline" ng-click="goToPage('site.institution.institution-management')"> Back </button>
          <button type="button" class="btn red btn-outline" ng-click="doDeleteActivity()" can-action="P260">Delete</button>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 text-right">
            <button type="button" class="btn green-dark font-white" ng-click="doSaveInstitutionActivity()" can-action="P260">Submit</button>
        </div>
          
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption">
              <i class="icon-bubbles font-dark hide"></i>
              <span class="caption-subject font-dark bold uppercase">Internal Contact Person</span>
          </div>
          <div class="actions">
            <a class="btn btn-circle btn-icon-only green-dark"
               ng-click="resetModal(); initAddContactPerson('I');"
               can-action="P261">
                <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="col-sm-12 col-lg-12 col-xs-12">
              <table ng-table="InternalContactPersonTable" class="table table-hover table-stripped">
                  <thead>
                      <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Name</b></th>
                      <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Email</b></th>
                      <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Contact</b></th>
                      <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Faculty</b></th>
                      <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Project</b></th>
                      <th class="text-center bg-chula-pink-light font-white" width="5%"><b>Edit</b></th>
                  </thead>
                  <tbody>
                      <tr ng-repeat="d in $data">
                          <td class="text-left">{{d.fullName}}</td>
                          <td class="text-left">{{d.email}}</td>
                          <td class="text-left">{{d.contactPhoneNumber}}</td>
                          <td class="text-center">{{d.chulaMsFaculty.facultyName}}</td>
                          <td class="text-center">{{d.contactProject }}</td>
                          <td class="text-center">
                            <a ng-click="initEditContactPerson(d.institutionActivityContactPersonId)">
                              <i class="fa fa-edit "></i>
                            </a>
                          </td>
                      </tr>
                  </tbody>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption">
              <i class="icon-bubbles font-dark hide"></i>
              <span class="caption-subject font-dark bold uppercase">External Contact Person</span>
          </div>
          <div class="actions">
            <a class="btn btn-circle btn-icon-only green-dark"
               ng-click="resetModal(); initAddContactPerson('E');"
               can-action="P261">
                <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="col-sm-12 col-lg-12 col-xs-12">
              <table ng-table="ExternalContactPersonTable" class="table table-hover table-stripped">
                <thead>
                    <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Name</b></th>
                    <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Email</b></th>
                    <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Contact</b></th>
                    <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Faculty</b></th>
                    <th class="text-center bg-chula-pink-light font-white" width="10%"><b>Project</b></th>
                    <th class="text-center bg-chula-pink-light font-white" width="5%"><b>Edit</b></th>
                    
                </thead>
                <tbody>
                    <tr ng-repeat="d in $data">
                      <td class="text-left">{{d.fullName}}</td>
                      <td class="text-left">{{d.email}}</td>
                      <td class="text-left">{{d.contactPhoneNumber}}</td>
                      <td class="text-center">{{d.chulaMsFaculty.facultyName}}</td>
                      <td class="text-center">{{d.contactProject }}</td>
                        <td class="text-center">
                          <a ng-click="initEditContactPerson(d.institutionActivityContactPersonId)">
                            <i class="fa fa-edit "></i>
                          </a>
                        </td>
                        
                    </tr>
                </tbody>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-contact-person controller-name="InstitutionActivityContactPersonController" page-code="P261"></modal-contact-person>